services:
  db:
    image: postgres:16
    container_name: myapp-db
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mynetwork

  backend:
    build: ./backend
    container_name: myapp-backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - media_volume:/app/media
    networks:
      - mynetwork

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: myapp-frontend
    expose:
      - "4173"
    networks:
      - mynetwork

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: myapp-nginx
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - media_volume:/usr/share/nginx/media
      - ./letsencrypt:/etc/letsencrypt
      - ./certbot:/var/www/certbot
    command: ["/bin/sh", "/etc/nginx/start.sh"]
    networks:
      - mynetwork

  certbot:
    image: certbot/certbot
    container_name: myapp-certbot
    depends_on:
      - nginx
    volumes:
      - ./letsencrypt:/etc/letsencrypt
      - ./certbot:/var/www/certbot
    entrypoint: /bin/sh
    command: >-
      -c "trap exit TERM; while :; do
      certbot certonly --webroot -w /var/www/certbot -d pyo-glory.com -d www.pyo-glory.com
      --email thdckdtjr8@gmail.com --agree-tos --non-interactive --keep-until-expiring;
      sleep 12h;
      done"

volumes:
  postgres_data:
  media_volume:

networks:
  mynetwork:
    driver: bridge
